.annotated-image {
  padding: 0;
  line-height: 0;
  position: relative;
  width: 100%;
  height: auto;
}
.annotated-image.editable span.note {
  cursor: pointer;
}
.annotated-image img {
  max-width: 100%;
}
.annotated-image span.note {
  display: block;
  position: absolute;
  cursor: default;
}
.annotated-image span.note span.marker {
  content: "";
  display: block;
  position: absolute;
  margin-top: -1em;
  margin-left: -0.75em;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #d12a2a transparent transparent transparent;
}
.annotated-image span.note span.text {
  padding: 0.5em;
  position: absolute;
  left: -0.5em;
  bottom: 1em;
  line-height: 1.25em;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background: #d12a2a;
}
.annotated-image span.note span.text:empty {
  display: none;
}
.annotated-image .textarea {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 100;
  line-height: 1.5em;
  background: #fff;
}
.annotated-image .textarea textarea {
  padding: 0;
  width: calc(100% - 2px);
  height: 3em;
  text-align: center;
}
